<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/updateData" method="get">
    <label for="china">中國用語</label>
    <input id="china" name="china" type="text">
    <label for="tw">台灣用語</label>
    <input id="tw" name="tw" type="text">
    <label for="us">英文用詞</label>
    <input id="us" name="us" type="text">
    <button type="submit">送出</button>
  </form>
</body>
</html>